* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:  #ffffff; 
}
.app{
    display: grid;
     grid-template-columns: 0.18fr 1fr;
    height: 100vh;

}

.sidebar{
    
    background-color: #202123;
    color: white;

}
.sidebar h1{
    margin: 5px;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}
.sidebar h3{
    margin-top: 20px;
    margin-bottom: 20px ;
    margin-left: 5px;
    padding-left: 5px;
    font-weight:lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.list{
    margin-left: 30px;
    /* margin: 20px; */
    list-style-type:disc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

.main{
   
    background-color: #343541;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
}
.chat{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: grid;
grid-template-columns: 40px 1fr;
grid-template-rows: 50px 50px 50px;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid white;
    margin-top: 2px;
    text-align: center;
    display: inline-block;
     align-items: center;
    align-content: center;
    font-size: 20px;
    margin-left: 5px;

}
.bot{
    background-color: cadetblue;
    color: white;
}
.user{
    background-color: #3e2b3e;
    color: white;
}

.botbubble{
   
    border-radius: 20px; 
    width: 0 auto;
    margin-left: 5px;
    align-items: center;
    align-content: center;
}
.userbubble{
    border-radius: 20px; 
    width: 0 auto;
    margin-left: 5px;
    align-items: center;
    align-content: center;
}
.userbubble >p{
    background-color:#444654;
margin-left: 5px;
    display: inline;
    border-radius: 20px;
    padding: 5px;    
}

 .botbubble >p{
background-color: #0d9276;
margin-left: 5px;
    display: inline;
    border-radius: 20px;
    padding: 5px;
}

.header{
    background-color: #343541;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     border-bottom: 1px solid #565869;
    margin-bottom: 10px;
}
header h2{
    margin: 2px;

    padding: 5px;
}
.footer{

    background-color: #343541;
  
}



.chat-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #40414f;       
  border: 1px solid #565869; 
  border-radius: 8px;
  padding: 5px 12px;
  width: 60%;                
  margin: 0 auto;         
}

.chat-input input {
  flex: 1;                 
  border: none;
  outline: none;
  background: transparent;       
  font-size: 16px;
}

.chat-input button {
  background: #19c37d;      
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
 
}

.chat-input button:hover {
  background: #15a366;      
}
