/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;

}
.container{
height :100vh;

	display:flex;
	justify-content:center;
	align-items:center;
}

.users{
	display:block;
	}
label{
	font-family:sans-serif;
	font-size:20px;
}
input{
	height:30px;
	border-radius:3px;
}
.board{
	display:none;
	flex-wrap:wrap; 
	text-align:center;
	height:600px;
	width:350px;

}
td{
	/* height:300px; */
	height:100px;
	width:300px;
	border:1px solid black;
	text-align:center;
}
table{
	height:300px;
	
}
#btn{
	width:100%;
	height:30px;
	border-radius:5px
}

.message{
	margin-top:100px;
	
}
